.header{
    background-image: url(img/pizzaegysz.jpg);
    color: white;
    height: 530px;
    width: 100%;

}
#cim{
    float: left;
}
.navbar{
    float: right;
    padding: 30px;

}
#piadina{
    color: white;
    display: inline-block;
    background-color: rgb(49, 48, 48);
}
#tortenet{
    margin-right: 200px;

}
p{
    color: grey;
}
#menu{
    background-color: black;
    text-align: center;
    
    
}
.pizza{
    display: inline-block;
    border: 1px, solid, white;
    color: white;
    text-align: center;
    font-size: 13px;
    background-color: black;
    padding: 8px 50px;
}
h1{
    color: white;
}