.header{
    background-image: url(img/pizzaegysz.jpg);
    color: white;
    height: 500px;

}
.navbar{
    text-align: right;
}
#piadina{
    margin-left: 300px;
}
#tortenet{
    margin-right: 200px;
}