.header{
    background-image: url(img/pizzaegysz.jpg);
    color: white;
    height: 530px;
    width: 100%;

}
#cim{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
}
.navbar{
    float: right;
    padding: 30px;

}
#piadina{
    color: white;
    display: inline-block;
    background-color: rgb(49, 48, 48);
    
}
#tortenet{
    margin-right: 200px;

}
p{
    color: grey;
}
#menu{
    background-color: black;
    text-align: center;
    padding: 5px;
    
    
}
.pizza{
    display: inline-block;
    border: 1px, solid, white;
    color: white;
    text-align: center;
    font-size: 13px;
    background-color: black;
    padding: 8px 50px;
}
h1{
    color: white;
}
#specialitasok{
    background-color: rgb(49, 48, 48);
    padding: 5px;
    text-align: center;
}
#bal{
    float: left;
}
#jobb{
    float: right;
}
#Pizza{
    height: 300px;
    width: 420px;
    display: inline-block;
    margin: auto;
    padding: 30px;

}
#marhapecsenye{
    height: 400px;
    width: 250px;
    margin: auto;
    padding-bottom: 30px;
    
}
#salata{
    height: 250px;
    width: 250px;
    
}